@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Ringtail";
    src: url("Ringtail-Sans Serif.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    /*--cor-fundo: rgb(255, 255, 255);*/
    --cor-fundo: rgb(26, 28, 32);
    --cor-header1: rgb(245, 185, 0);
    --cor-header2: rgba(221, 141, 11, 0.91);
    --cor-text: rgb(10, 64, 163);
    --text-card: "Ringtail", Times, serif;
}

* {
    margin: 0px;
    padding: 0px;


}

body {
    box-sizing: border-box;
    color: black;
    background-color: var(--cor-fundo);
    font-family: Arial;
}

.cabecalho {
    /*background-color: lightslategray;*/
    background-color: black;
}

.container-fluid {
    /*padding: 3%;*/
}


.text-center {
    padding-top: 2%;
    font-family: "Oswald", sans-serif;
    color: var(--cor-header1);
    /*border: solid white;*/
}


.imagem {
    /*border: solid white;*/
    width: 100%;
    padding: 3%;
}


.ancora {
    font-family: "Ringtail", Times, serif;
    color: var(--cor-header2);
    font-size: 1.25rem;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    /*border: solid white;*/


}

.col-12 {
    width: 50%;
}


/* card: */
.card {
    width: 80%;
    margin: 9%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-header1);
}

.imagem-card {
    width: 50%;
}

.card-title {
    font-family: var(--text-card);
    font-size: 2.20rem;
    color: #000000;
    padding-top: 5%;

}

.card-text {
    font-size: 20px;
}

.botao-voltar{
    margin-left: 85%;


}

.btn-back {
    margin-top: 2%;
    width: 100px;
    height: 40px;
}

.btn-back:hover{
    text-decoration: none;
}


footer {
    background-color: black;
    color: white;
    margin-top: 3%;
    /*padding: 5vh;*/
}

.footer-mini-titulo {
    color: var(--cor-header2);

}

.footer-icon1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: white solid 1px;
    border-right: solid white 1px;
    padding: 10px;
}

.footer-img {
    margin-bottom: 0.93rem;
}

.footer-tel {
    margin-bottom: 0px;
}

.footer-link {
    text-decoration: underline;
    color: white;
}

.footer-link:hover {
    color: var(--cor-text);
}

/*@media screen and (max-width: 750px){*/
/*.imagem{*/
/*    width: 55%;*/
/*    !*flex-direction: row;*!*/
/*}*/

/*.cabecalho-titulo{*/
/*    font-size: 1.5rem;*/
/*}*/

@media screen and (max-width: 450px) {
    .footer-icon1 {
        border: none;
    }

    .footer-first {
        border-left: solid white 1px;
    }

    #footer-endereco {
        border-top: solid white 1px;
        margin-top: 5%;
        padding-top: 5%;
    }

    .botao-voltar{
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 850px) {
    .card-body {
        display: flex;
        flex-direction: column;
    }
}

/*TABELA MASSA*/


.tabela-max1 {
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    color: white;
    border-collapse: collapse;
    /*margin-bottom: 50px;*/
    text-align: center;
}

.tabela-tamanho {
    background-color: red;
}

.tabela-max2{
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
    color: white;
    border-collapse: collapse;
    /*margin-bottom: 2%;*/
    text-align: center;
}

.tabela-max3{
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3%;
    color: white;
    border-collapse: collapse;
    /*margin-bottom: 50px;*/
    text-align: center;
}

.empty {
    color: var(--cor-fundo);
    border: 10px solid var(--cor-fundo);
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid var(--cor-fundo);
    border-right: 2px solid var(--cor-fundo);
}

.tabela-subtitulo-cor {
    border-top: 2px solid #ccc;
}

/*.tabela-max2{*/
/*    width: 90%;*/
/*    margin-left: 5%;*/
/*    color: white;*/
/*    border-collapse: collapse;*/
/*    !*margin-bottom: 50px;*!*/
/*    text-align: center;*/
/*    margin-top: 30%;*/
/*}*/

/*.tabela-max3{*/
/*    width: 30%;*/
/*    margin-left: 24%;*/
/*    color: white;*/
/*    border-collapse: collapse;*/
/*    margin-bottom: 50px;*/
/*    text-align: center;*/
/*}*/

/*#tabelas{*/
/*    margin-left: 10%;*/
/*}*/

.tabela-titulo {
    font-style: italic;
    caption-side: top;
    text-align: center;
    font-size: 35px;
}

table th, table td {
    border: 2px solid #ccc;
}

.lista-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    font-family: "Oswald", sans-serif;
    color: white;
}


 /* FORMULÁRIO */

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 40%;
    margin-top: 2%;
margin-left: 30%;
    border-radius: 2%;
    text-align: center;
    box-shadow: 10px 10px 10px black;
}

.formulario-titulo1 {
    padding-bottom: 5%;
}

.formulario-titulo4 {
    padding-top: 8%;
}

.formulario-caixa {
    padding: 3%;
}

.formulario-caixa {
    text-align: left;
    margin-left: 5%;
}

.formulario-botao {
    margin-top: 7%;
    margin-bottom: 5%;
}

@media screen and (max-width: 850px) {
    .formulario {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    .formulario {
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width: 575px) {
    .formulario {
        width: 80%;
        margin: auto;
    }
}

/* ORÇAMENTO FINAL */

.orcamento-final {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}

.valor-1000-unidades {
    background-color: white;
    border: solid 4px black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 6px 5px black;
}

.valor-500-unidades {
    background-color: white;
    border: solid 4px black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 6px 5px black;
}

.orcamento-final-titulo {
    font-family: "Merriweather", serif;
    font-weight: 700;

}

.valor-real {
    font-size: 1.7rem;
}

@media screen and (max-width: 575px) {
    .orcamento-final{
    display: flex;
    flex-direction: column;
        margin: 5%;
    }

    .valor-1000-unidades {
        margin-bottom: 5%;
    }
}







