<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orçamento Boca Vazada Brilho</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header class="cabecalho">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-lg-4">
                <img th:src="@{/imagens/litoralLogo.png}" class="imagem" alt="imagem logo">
            </div>
            <div class="col-sm-8 col lg-8">
                <nav class="ancora">
                    <a href="/SacolasPlasticas">
                        <button type="button" class="btn btn-outline-warning">Sacolas Plásticas</button>
                    </a>
                    <a href="SacolasPapel.html">
                        <button type="button" class="btn btn-outline-warning">Sacolas de Papel</button>
                    </a>
                    <button type="button" class="btn btn-outline-warning">Contatos</button>
                </nav>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Sacolas Personalizadas Litoral Brindes</h1>
            </div>
        </div>
    </div>

    <table class="tabela-max1">
        <caption class="tabela-titulo">Tabela de Sacolas</caption>
        <thead class="tabela-head">
        <tr class="tabela-subtitulo">
            <th colspan="3">Sacolas Boca Vazada (HD) Alta Densidade (Fosca)</th>
        </tr>
        <tr>
            <th>Tamanho das Sacolas</th>
            <th>Valor das 500 Sacolas</th>
            <th>Valor das 1000 Sacolas</th>
        </tr>
        </thead>
        <tbody>
        <tr class="linha1">
            <td>16 X 20 X 0,10</td>
            <td>R$ -</td>
            <td>R$ 425,00</td>
        </tr>
        <tr class="linha2">
            <td>20 X 30 X 0,10</td>
            <td>R$ -</td>
            <td>R$ 465,00</td>
        </tr>
        <tr class="linha3">
            <td>25 X 35 X 0,11</td>
            <td>R$ 350,00</td>
            <td>R$ 585,00</td>
        </tr>
        <tr class="linha4">
            <td>30 X 40 X 0,12</td>
            <td>R$ 400,00</td>
            <td>R$ 765,00</td>
        </tr>
        <tr class="linha5">
            <td>36 X 48 X 0,12</td>
            <td>R$ 465,00</td>
            <td>R$ 865,00</td>
        </tr>
        <tr>
            <td>40 X 50 X 0,12</td>
            <td>R$ 550,00</td>
            <td>R$ 985,00</td>
        </tr>
        <tr>
            <td>45 X 60 X 0,12</td>
            <td>R$ 750,00</td>
            <td>R$ 1.250,00</td>
        </tr>
        <!--        <tr>-->
        <!--            <td colspan="3" class="empty">.</td>-->
        <!--        </tr>-->
    </table>
    <table class="tabela-max2">
        <div id="centraliza-CoresDisponiveis">
            <thead class="tabela-cor">
            <tr>
                <th colspan="2" class="tabela-subtitulo-cor">Cores Disponiveis:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Prata</td>
                <td>Rosa</td>
            </tr>
            <tr>
                <td>Ouro</td>
                <td>Rosa Bebê</td>
            </tr>
            <tr>
                <td>Roxo</td>
                <td>Creme</td>
            </tr>
            <tr>
                <td>Azul</td>
                <td>Transparente</td>
            </tr>
            <tr>
                <td>Azul Bebê</td>
                <td>Vinho</td>
            </tr>
            <tr>
                <td>Vermelho</td>
                <td>Preto</td>
            </tr>
            <tr>
                <td>Laranja</td>
                <td>Branco</td>
            </tr>
            <tr>
                <td>Verde Claro</td>
                <td>Amarelo</td>
            </tr>
            <tr>
                <td>Verde Bandeira</td>
            </tr>
            </tbody>
        </div>

    </table>
    <table class="tabela-max3">
        <thead>
        <tr>
            <th colspan="2">Tamanho 16 X 20 Somente:</th>
            <th>45 X 60 Somente:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Branco</td>
            <td>Prata</td>
            <td>Branco</td>
        </tr>
        <tr>
            <td>Preto</td>
            <td>Laranja</td>
            <td>Preto</td>
        </tr>
        <tr>
            <td>Amarelo</td>
            <td>Verde Limão</td>
        </tr>
        <tr>
            <td>Azul</td>
            <td>Roxo</td>
        </tr>
        <tr>
            <td>Vermelho</td>
            <td>Rosa Bebê</td>
        </tr>
        <tr>
            <td>Ouro</td>
            <td>Azul Bebê</td>
        </tr>
        </tbody>

    </table>

    <a href="/SacolasPlasticas" class="botao-voltar">
        <button type="button" class="btn btn-outline-warning btn-back">Voltar</button>
    </a>

</main>

<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p class="footer-mini-titulo">Atendimento</p>
                <p>8:30 às 18:00
                    Segunda à Sexta</p>
            </div>
            <div class="col">
                <div class="footer-first">
                    <p class="footer-mini-titulo">Entre em contato conosco</p>

                    <div class="footer-icons">
                        <div class="footer-icon1">
                            <img src="imagens/icon-whatsapp.svg" class="footer-img"><a href="https://w.app/AQCGlj"
                                                                                       target="_blank"
                                                                                       class="footer-link">(13)
                            98838-8881</a>
                        </div>
                    </div>
                    <div class="footer-icon1">
                        <img src="imagens/icon-instagram.svg" class="footer-img"><a
                            href="https://www.instagram.com/grafica.litoral.sacolas/" target="_blank"
                            class="footer-link">@grafica.litoral.sacolas</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="footer-mini-titulo" id="footer-endereco">Endereço</p>
                <div class="footer-endereco">
                    <p>Rua Manoel Fernandes Vicente</p>
                    <p>1184 Maracanã Mirim</p>
                </div>
            </div>

        </div>
    </div>
</footer>


</body>
</html>