<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orçamento Sacola de Papel</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>

<header class="cabecalho">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-lg-4">
                <img th:src="@{/imagens/litoralLogo.png}" class="imagem" alt="imagem logo">
            </div>
            <div class="col-sm-8 col lg-8">
                <nav class="ancora">
                    <a href="/SacolasPlasticas">
                        <button type="button" class="btn btn-outline-warning">Sacolas Plásticas</button>
                    </a>
                    <a href="SacolasPapelOrcamentoFinal.html">
                        <button type="button" class="btn btn-outline-warning">Sacolas de Papel</button>
                    </a>
                    <button type="button" class="btn btn-outline-warning">Contatos</button>
                </nav>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Sacolas Personalizadas Litoral Brindes</h1>
            </div>
        </div>
    </div>


    <h2>Orçamento Sacola de Papel</h2>

    <form action="resultadoOrcamento" method="POST" th:object="${tamanhoSacolas}">
        <label>Idade:</label>---
        <input type="number" placeholder="Digite o tamanho da sacola" name="tamanhoBase" th:value="${tamanhoSacolas.tamanhoBase}">
        <button type="submit" >Salvar</button>
    </form>



    <!-- TESTES DO BAIANINHO ERRADOS
    <form action="/efetuarOrcamento" method="POST" th:object="${tamanhoSacolas}">
        <label>Tamanho da Sacola:</label>
        <input type="text" placeholder="Digite o tamanho da sacola" name="tamanhoBase" th:value="${tamanhoSacolas.tamanhoBase}">
        <button type="submit" >Enviar </button>
    </form>
    >-->



<!--    <form action="/SacolasPapelOrcamento" method="post" th:object="${calcSacola}">-->
<!--    <select class="form-select"  th:field="*{qualTamanho}" aria-label="Default select example">-->
<!--        <option value="" disabled selected>Open this select menu</option>-->
<!--        <option value="1">10X10X01</option>-->
<!--        <option value="2">20X20X02</option>-->
<!--        <option value="3">30X30X03</option>-->
<!--    </select>-->
<!--        <button type="submit">Enviar</button>-->
<!--    </form>-->

<!--    <p th:text="${getTamanho}"></p>-->

<!--        <label>Tamanho da Sacola:</label>-->
<!--        <select id="getTamanho" name="getTamanho">-->
<!--            <option th:value="${getTamanho}">Tamanho</option>-->
<!--&lt;!&ndash;            th:each="getTamanho: ${getTamanho}"th:value="${getTamanho}"&ndash;&gt;-->
<!--            -->
<!--        </select>-->




    </main>




<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p class="footer-mini-titulo">Atendimento</p>
                <p>8:30 às 18:00
                    Segunda à Sexta</p>
            </div>
            <div class="col">
                <div class="footer-first">
                    <p class="footer-mini-titulo">Entre em contato conosco</p>

                    <div class="footer-icons">
                        <div class="footer-icon1">
                            <img src="imagens/icon-whatsapp.svg" class="footer-img"><a href="https://w.app/AQCGlj"
                                                                                       target="_blank"
                                                                                       class="footer-link">(13)
                            98838-8881</a>
                        </div>
                    </div>
                    <div class="footer-icon1">
                        <img src="imagens/icon-instagram.svg" class="footer-img"><a
                            href="https://www.instagram.com/grafica.litoral.sacolas/" target="_blank"
                            class="footer-link">@grafica.litoral.sacolas</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="footer-mini-titulo" id="footer-endereco">Endereço</p>
                <div class="footer-endereco">
                    <p>Rua Manoel Fernandes Vicente</p>
                    <p>1184 Maracanã Mirim</p>
                </div>
            </div>

        </div>
    </div>
</footer>

</body>
</html>